#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0,200,0);
  display: flex; /* Hidden by default */
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1; /* Initial opacity */
  transition: opacity 1s ease-out; /* Transition for opacity */
}

.loading-screen.hidden {
  opacity: 0;
  transition: opacity 1s ease-in;
  pointer-events: none; /* Prevents interactions */
}

